[2016-09-05 11:44] kribblo opened #1 "preinstall/postinstall extra failsafes"
Add scripts to fail properly and clearly.

* preinstall: do the unsupported platform/arch check that is in index.js and fail fast
* postinstall: get path like in index.js and verify the file exists, fail otherwise

[2016-09-19 15:28] SavageCore opened #2 "path returned as 'ffmpeg' on win32"
As you can see from my fork for FFprobe you were only checking for `win32` not `win32-ia32` or `win32-x64`

https://github.com/SavageCore/node-ffprobe-installer/commit/0b1a306ed1b4df7f6c94176defd4f055b035d976

[2016-09-19 15:36] #2 closed, assigned to nobody

[2016-09-20 17:37] seabrus opened #3 "Wrong path for linux-ia32"
Hi @kribblo,

First of all, thanks a lot for your great package. It is a really useful idea.

Today I've tried the package and encountered one problem: the path is incorrect.
My situation:
- Linux 32 bit (LinuxMint 17.3 / Ubuntu 14.04)
- latest version of npm
- node 4.5.0

After executing the command `npm install --save @ffmpeg-installer/ffmpeg` I had the following file structure:
[code]
But the p

[2016-09-20 17:52] kribblo commented on #3
Hello, this looks like you have NPM version 2.X (I think that's correct for Node 4.X series) which used a deep folder structure, while NPM version 3.X uses a shallow folder structure.

Currently this only supports NPM v3, simply because I didn't think about NPM v2.

I will fix this soonish by checking which of the paths actually exists.

[2016-09-20 18:05] seabrus commented on #3
Yes, you are right, my NPM is 2.15.9!

`I will fix this soonish by checking which of the paths actually exists` -- it wll be absolutely great, I'm looking forward to this update.

[2016-09-20 18:40] #3 closed

[2016-09-20 18:42] kribblo commented on #3
@seabrus There is a new version now that *should* work, however I couldn't really verify since I don't have NPM v2. Can you test again?

[2016-09-20 18:46] seabrus commented on #3
OK, take me 20 minutes

[2016-09-20 18:56] seabrus commented on #3
It is OK now! Thanks a lot

I've tested it in pure node. A bit later I'll test also in a meteor app (in fact, I use your package and `fluent-ffmpeg` as part of a meteor project).

[2016-09-20 19:02] kribblo commented on #3
@seabrus thanks!

I'm planning on using this in some in-house tools at work but it hasn't been in much actual use yet,  so I appreciate the feedback and testing.

[2016-09-20 19:38] seabrus commented on #3
I've tried it in my app. It's cool.

I found your package when decided to provide on server transformation for audio files. I'm planning to deploy my app on heroku first. The deployment procedure is not simple there. So I hope very much that your package will be really helpful there.

Yave a great night :)

[2016-09-23 15:40] SavageCore opened #4 "Upload git builds or stay on stable"
Hey

What are your thoughts on including git builds? I would like access to nvenc in my project which is compiled in as of [ffmpeg-20160525-git-9591ca7-win64-static](https://ffmpeg.zeranoe.com/builds/readme/win64/static/ffmpeg-20160525-git-9591ca7-win64-static-readme.txt)

[2016-09-23 15:48] kribblo commented on #4
I don't really have a strong personal opinion; as I've understood it, ffmpeg snapshots are usually pretty stable anyway so could just as well go that way.

Pull requests welcome, or just some good links to what you want.

[2016-09-23 15:49] kribblo commented on #4
I guess the only thing I want is to be able to give some degree of guarantee that these are the real thing and likely to work. :)

[2016-09-23 17:24] SavageCore commented on #4
Same thoughts as me then FFmpeg states

But still not entirely sure!

Perhaps a fork to install the bleeding edge? I am reluctant to just `npm run upload` with latest git builds...

[2016-09-24 14:18] kribblo commented on #4
Since it looks like the recommended builds are the quite recent anyway, I've updated Windows versions to "20160924-1212e34", will do something similar for the other platforms later.

It should have `--nvenc`enabled: https://ffmpeg.zeranoe.com/builds/readme/win64/static/ffmpeg-20160924-1212e34-win64-static-readme.txt

[2016-09-24 14:36] kribblo commented on #4
All versions should now be updated to git version 1212e34 as of 1.0.5.

[2016-09-24 14:36] #4 closed

[2016-09-27 12:22] seabrus opened #5 "Typo in README.md?"
Hi,

It looks like that in README.md instead of
### process.spawn()
[code]
something like
### process.spawn()
[code]
should be written.

[2016-09-27 12:40] kribblo commented on #5
Heh, yeah, good catch. Will fix. :)

[2016-09-27 12:45] #5 closed

[2016-09-27 12:47] kribblo commented on #5
Sidenote: for a small change like this, if you edit the README directly in the GitHub interface, GitHub can make a pull request of the change for you, very useful!

[2016-09-27 12:53] seabrus commented on #5
@kribblo OK, will use it!

[2017-03-11 01:05] mbilokonsky opened #6 "MIDI support"
Hi, I'm hoping you can help me understand a problem we're having! When using this installer on a Mac, invoking `[this ffmpeg] -i song.midi output.mp4` works just fine. However, when running the same node code on Ubuntu fails because the linux build of ffmpeg provided can't seem to handle MIDI decoding.

Is this a known issue? How is the Darwin build different from the Linux build? Is there an easy

[2017-03-11 12:05] kribblo commented on #6
I'm sorry, I'm in no way involved in the development of ffmpeg, however if you ask this question to the project (<https://ffmpeg.org/contact.html>) and find out that there's a version with MIDI support that I could upgrade this project to, I would be very happy to do so!

[2017-03-11 18:09] kribblo commented on #6
Since I take the Linux builds from here: https://www.johnvansickle.com/ffmpeg/ you might even want to contact that person and ask if it's possible to enable midi in the version he supports and I can update this project accordingly.

[2017-04-22 21:01] colinskow opened #7 "Error: spawn EACCES"
I am running macOS 10.12.4 and it appears that this installer isn't giving proper executable permissions to the FFMPEG executable.

After I did it manually `chmod u+x /path/to/executable` it works fine. This should probably be done automatically via postinstall script.

Also applies to ffprobe-installer.

[2017-04-22 21:09] kribblo commented on #7
Didn't know this was a problem, sounds like a reasonable solution; guess it would work with just adding this as a `"postinstall"` command to the [darwin-x64 package.json](https://github.com/kribblo/node-ffmpeg-installer/blob/master/platforms/darwin-x64/package.json)?

[2017-04-22 21:11] kribblo commented on #7
Also, not associated with ffprobe-installer so you'll have to file a separate bug with them, even though it's a fork of this project.

[2017-04-22 22:15] kribblo commented on #7
Adde postinstall script in 1.0.10:

     "postinstall": "chmod u+x ffmpeg"

@colinskow could you please test it? I don't have a mac readily available. Thanks!

[2017-04-23 06:58] colinskow commented on #7
I'll test it tomorrow and let you know... Thanks for the quick fix!

[2017-04-23 06:59] colinskow commented on #7
We sound also test on Linux.

[2017-04-23 07:58] kribblo commented on #7
I did not make the change on Linux (it's separate sub-projects); I'm using Linux and it's been working for me (which is why I didn't know this was an issue). Possibly this is due to me making the packages on Linux and the executable flag not being set or not carried over to Mac?

If this works we can add the same change there too, though, because it wouldn't hurt after all.

[2017-04-24 20:48] colinskow commented on #7
OK, I've tested it on Mac and it works! Thank you very much for the quick fix.

[2017-04-24 20:48] colinskow commented on #7
Next opportunity I will test on Windows.

[2017-04-24 21:14] kribblo commented on #7
Added the same postinstall for Linux just in case and closing this.

Windows does not use executable permissions in the same way, rather (IIRC) it's a combination of extension (like .exe) and the file containing a few marker bytes in the start of the file. However, any testing is appreciated and I don't use Windows myself either, so please!

[2017-04-24 21:14] #7 closed

[2017-09-15 13:45] davehorton opened #8 "libopus support"
I get an error when I try to decode an opus file (unknown format 'opus').

Is opus intended to be supported?  If not any plans to do so, or suggestions on how to possibly make it work?

[2017-09-15 20:56] kribblo commented on #8
I use prebuilt binaries that others provide: https://github.com/kribblo/node-ffmpeg-installer#the-binaries

They can probably vary some between platforms and each such provider decides what encodings to include. I'd be very happy to update the binaries here if the original provider (or some other reliable one) is willing to provide, but I won't be starting to compile my own binaries. :)

Maybe try

[2017-09-15 20:59] kribblo commented on #8
Hmmm actually, looking at the builds, looks like they *should* be compiled with libopus, so maybe I just need to update to newer versions. Which platform are you on @davehorton , I can try that one first?

[2017-09-20 15:22] kribblo commented on #8
All binaries updated to the latest versions, docs say that libopus should be enabled in all; please try it out.

Closing this, if it still doesn't work then try the corresponding binary directly and see if that may be the problem.

Thanks for the report!

[2017-09-20 15:22] #8 closed

[2017-11-17 17:38] sesn opened #9 "Yarn add struck at 295 package install in mac"
Node version: v8.6.0

<img width="1519" alt="screen shot 2017-11-17 at 11 04 11 pm" src="https://user-images.githubusercontent.com/1553701/32960728-0e554808-cbec-11e7-9a60-5f21a3e73a62.png">

[2018-01-24 08:56] espresso3389 opened #10 "Wrong ffmpeg.path if asar is enabled"
ffmpeg.path returns path like `....\resources\app.asar\node_modules\@ffmpeg-installer\win32-x64\ffmpeg.exe` regardless of asar state.
It should return `....\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\win32-x64\ffmpeg.exe` if asar is enabled.

[2018-01-24 11:44] kribblo commented on #10
Looks like this known issue: https://github.com/electron-userland/electron-packager/issues/740

It should be the responsibility of asar not to break paths, IMO.

[2018-01-24 13:56] #10 closed

[2018-01-24 13:57] kribblo commented on #10
Added a note with workaround to the README: https://github.com/kribblo/node-ffmpeg-installer/blob/master/README.md#wrong-path-under-electron-with-asar-enabled

Handling special cases like that is outside the scope of ffmpeg-installer

[2018-01-24 14:00] espresso3389 commented on #10
I see. Thanks so much for your information.

[2018-04-25 05:38] sindresorhus opened #11 "Upgrade to ffmpeg 4"
See https://www.ffmpeg.org/index.html#news

[2018-05-03 18:32] joshbg2k opened #12 "Video output contains green artifacts"
Hoping someone might know how to resolve this. I'm calling ffmpeg using `child_process.exec` in Electron to create a slideshow video from a set of images. Usually this results in green artifacts spanning the width of the video and going anywhere between the lower and upper quarters of the video height. Other than the image artifacts the video outputs with expected settings (frame rate, etc).

When

[2018-05-03 18:33] kribblo commented on #11
1.0.14 released with the latest git versions

[2018-05-03 18:33] #11 closed

[2018-05-03 20:53] kribblo commented on #12
I have little to no idea of the inner workings of either node, electron or ffmpeg and I don't think too many people will see this issue, you might be better off asking on Stackoverflow and/or the forums for node, electron and ffmpeg if someone recognizes this.

One thing though, if you do this outside of electron, with just a small node program, does it do the same? Could help narrow it down if it

[2018-05-03 21:41] joshbg2k commented on #12
Thanks, that's a good thought, I'll try this outside of Electron and see what happens.

[2018-05-10 10:38] binarykitchen opened #13 "Cannot find ffprobe"
Great library, could be very useful for my site if it would also support ffprobe.

Probably it's included in the installs since it's ffmpeg's little sibling. Just can't get the path to it when using in conjunction with fluent-ffmpeg.

Need something like this but for ffprobe:

[code]

maybe add two distinct getters like `.getFfmpegPath()` and `.getFfProbePath()`?

[2018-05-10 10:40] SavageCore commented on #13
See my fork (mentioned in the readme) for ffprobe
https://github.com/SavageCore/node-ffprobe-installer

[2018-05-10 11:27] binarykitchen opened #14 "Rubberband missing"
It's me again. Turns out the important rubberband filter is missing in the ffmpeg binaries of this package:

[code]

Would it be too much to ask for adding that filter too?

[2018-05-10 12:59] #6 closed

[2018-05-10 12:59] #9 closed

[2018-05-11 04:49] binarykitchen commented on #14
Right, will ask them now

[2018-05-30 05:15] binarykitchen commented on #14
Done. Worked with the guy from https://evermeet.cx/ffmpeg/ and his latest version has rubberband and works well. Can you update reference to it?

[2018-05-30 13:14] kribblo commented on #14
Yeah sure np. Guess you only use the Mac version then? I guess if others need this for other platforms they will have to do the same work you did. :)

[2018-05-30 21:53] binarykitchen commented on #14
The others are fine and already have librubberband in them.

[2018-05-31 14:28] kribblo commented on #14
Alright, can you try the latest now? Sorry forgot about writing a comment, just uploaded a new version.

[2018-06-01 04:10] binarykitchen commented on #14
will check out once latest version is on npm

[2018-06-06 05:57] binarykitchen commented on #14
any estimates when you will publish @kribblo ?

[2018-06-06 10:17] kribblo commented on #14
Well it should have been published when I said I did a week ago or so?

[2018-06-06 10:18] kribblo commented on #14
Did it fail?

[2018-06-08 05:15] binarykitchen commented on #14
Ah yeah, works now - rubberband is in :)

[2018-06-08 05:15] #14 closed

[2018-06-08 07:59] kribblo commented on #14
Great!

[2018-06-18 00:07] brian-mann opened #15 "New version of ffmpeg out"
Was released yesterday (6/16/2018)

https://www.ffmpeg.org/download.html

[2018-06-26 10:18] kribblo commented on #15
Hey, I just periodically update now and then from GIT snapshot builds when it seems something interesting has happened (eg #14), not really tracking every single patch release unless there's a specific bug fix or feature someone needs.

[2018-09-24 07:16] durga598 opened #16 "unable to find libasound_module_conf_pulse.so, 64bit linux"
I am getting this error when I try to caputre audio through alsa device in my 64bit ubuntu system.

ALSA lib ../../../src/pcm/pcm.c:2565:(snd_pcm_open_noupdate) Unknown PCM hw:0

`libasound_module_conf_pulse.so` is present in `usr/lib/x86_64-linux-gnu/alsa-lib`

[2018-09-24 10:14] kribblo commented on #16
Hello! This project only installs ffmpeg built by others, so probably it's a better idea to ask the person who built this for Linux 64-bit: https://www.johnvansickle.com/ffmpeg/

[2018-09-24 10:15] kribblo commented on #16
It could definitely be that a later version fixes this bug, in which case I'll be happy to update.

[2018-10-13 09:44] kribblo commented on #16
Did an update today to latest Linux builds, see if that helps, otherwise the previous advice still applies to see if the maintainer of the binaries can help fix it.

[2018-10-13 09:45] kribblo commented on #15
Linux builds updated today.

[2018-10-13 09:46] #12 closed

[2018-10-16 06:58] durga598 commented on #16
Getting the same issue. `ubuntu version 16.04`

[2018-10-16 10:32] kribblo commented on #16
Guess you could try (re)installing libasound2-plugins

    sudo apt install libasound2-plugins

But otherwise I'd google the problem, looks like you have some missing package that ffmpeg expects.

[2018-10-26 00:45] zxdong262 opened #19 "Seek a way to force install specific binary"
I am working on mac, but would upload packages to aws lamda, which is linux platform, I hope there is a way to install specific binary.

[2018-10-26 04:14] kribblo commented on #19
Hello! Yes, that is the purpose of this project: if you add this as a dependency to your project, it will install Mac binary on Mac and Linux binary on Linux.

[2018-10-26 14:19] zxdong262 commented on #19
@zxdong262 I mean the target is install linux pack in mac os with some flag maybe, that way I could build a package and uplaod to aws lamda.

[2018-10-26 15:01] kribblo commented on #19
Ok, sorry, my misunderstanding. I guess that would be if you can override `process.package` and `process.cpu` when building, because there is no logic involved in this project, just using the built-in node controls. If you find a good way to do this I'll be happy to take a pull request for configuration and/or documentation!

[2018-10-28 02:00] zxdong262 commented on #19
@kribblo Thank you for the tip.

[2018-10-28 02:00] #19 closed

[2018-10-30 15:38] kribblo commented on #19
That should be `process.os`, not package, sorry! Not sure if it can be done but if you find a solution I would be interested in documenting it in the README!

[2018-12-12 04:52] jackple opened #20 "It does not support win32?"
![image](https://user-images.githubusercontent.com/6183232/49847688-6ad1d800-fe0c-11e8-851c-3be0200a70e8.png)
![image](https://user-images.githubusercontent.com/6183232/49847694-72917c80-fe0c-11e8-899c-200cd4e82c36.png)

My electron app can run in `win-unpacked`
But it can not run in `win-ia32-unpacked` with error `undefined: undefined`

Someone know why?

[2018-12-12 12:54] kribblo commented on #20
This is probably a question for the electron project, this project only downloads a binary and puts it in a known path, so if the binary is not broken, it could be the packaging? There's been an issue before where electron changes the path: #10 but don't know if that's the problem here. The error message is not really saying anything, is there a stack trace or debug log?

[2018-12-13 08:55] jackple commented on #20
Sorry! I do not know how to log at this stage. I have switched another solution to solve my problem, but thank you! And I think this issue is meaningful, so I do not close it for the moment. Maybe you close it.

[2018-12-14 15:18] whyboris commented on #15
Thank you @kribblo for the awesome repository!
Unsure if _FFMpeg_ version `4.1` is worth an internal version bump as well: https://www.ffmpeg.org/index.html#news
One highlight: _Support for AV1 in MP4_ & _AV1 parser_
Cheers 🎉

[2018-12-17 19:30] #16 closed

[2018-12-18 21:27] Travo100 opened #21 "Unable to install linux-x64 binary"
Hello there! I've been using this package for a Linux server running node on AWS. The installer was working until around December 10th, 2018, and now my server is crashing and I'm getting an error in my logs.

Working locally on OSX and Windows things have been working perfectly, but Linux seems to be having the issue.

Any insight would be greatly appreciated!

Error below:
[code]

[2018-12-19 20:46] bartbutenaers opened #22 "Request for ARM support"
Hi Kristoffer (@kribblo),

When I try following code on a Raspberry Pi 3 Model B (running Raspbian):
[code]
Then the result is "_Unsupported platform/architecture: linux-arm_".

Do you have plans to support ARM processors?
Perhaps following information allows you to determine whether it is possible or not:
+ Seems that [Debian](https://www.debian.org/ports/arm/) supports 3 ports of ARM hardware (*

[2018-12-19 21:33] kribblo commented on #21
Hmm I upgraded the binary just the other day but made no other changes to code or paths. What happens if you go back to 1.0.16? Is the install paths cleaned out between builds? There should have been no other change and I don't see anything sticking out in the logs, but let's see if we can fix this.

[2018-12-19 21:36] kribblo commented on #22
No plans as such, but not opposed to it either! You have already done some of the research I see. If you like to do a pull request it would be even faster, otherwise I will look into it

[2018-12-19 22:22] bartbutenaers commented on #22
Wow, that was fast ;-)
Glad to hear that you are not against it ...
Just saw on the [link ](https://www.johnvansickle.com/ffmpeg/) where you fetch your binaries, that armhf/rmel/arm64 binaries are also available.  So we can already forget about my link, to keep your code more consistent!
If you would have some time left to implement it, that would be highly appreciated!  Otherwise I will try to cr

[2018-12-20 01:06] kribblo commented on #21
Also, is the binary installed somewhere you can find, but not in the expected path?

[2018-12-20 15:43] Travo100 commented on #21
Hey @kribblo so I downgraded back to 1.0.16 and still the same error. I'm in the process of creating a whole new environment for the server and going to try again totally fresh. I'll keep you posted with the results. Thank you for your quick response BTW.

[2018-12-20 17:23] kribblo commented on #21
Thanks, let me know what you find. It still works in our builds at work, so not really sure what is happening here, but please check if you can find out if the binary is not installed at all, or in an unexpected place, if possible!

[2018-12-24 18:16] Travo100 commented on #21
Hey @kribblo I was able to ssh into my test server where the only thing it installs is express and @ffmpeg-installer. Looked the node_modules where you'd expect the binary to be and it is not there. I built this environment from total scratch so something is going on with AWS here. I was able to get the same app going in no time using Heroku. Either way here are the result of my find on my server:

[2018-12-24 18:56] Travo100 commented on #21
So it was a permissions thing with AWS. I had to add a `.npmrc` file with the following to get it to kick off the making of the binary.

`unsafe-perm=true`

After that things worked perfectly. I'm going to close this issue now because it's nothing to do with the code of this package. Thank you for your help @kribblo!

[2018-12-24 18:56] #21 closed

[2019-01-02 16:35] kribblo commented on #21
Hey, sorry for the late reply, been mostly offline during holidays, but great that it all worked out! Do you think this is something that might be useful to have in the README, say under known issues?

[2019-01-02 18:08] Travo100 commented on #21
I would say so. Just spinning up a default Elastic Beanstalk instance through their GUI it would fail at the start due to the binary not being allowed to download.

[2019-03-06 02:57] deevus opened #23 "SVG Support (librsvg)"
I was trying to overlay an SVG image and I got the following error:

[code]

Would it be possible to get SVG support?

https://stackoverflow.com/questions/48216871/ffmpeg-3-4-cantor-now-support-for-svg-rasterization

[2019-03-06 09:10] kribblo commented on #23
Hey, as the answer says, ffmpeg binary needs to be compiled with a certain flag enabled for this to happen. This project only helps install existing binaries provided by others as listed in the README and does not build any binaries itself.

If a newer binary exists with this capability for your operating system (see README), I'd be happy to update - or if it's not, it would be best if you asked t

[2019-03-07 01:12] dkonopka opened #24 "Unsupported platform/architecture: freebsd-x64"
Is there any option to provide support for `freebsd-x64` ever?

[2019-03-07 05:13] kribblo commented on #24
If there is a good source for binaries + info on what the cpu and os fields should be (see README) it could be added.

[2019-03-10 01:11] binarykitchen opened #25 "Recipe for Elastic Beansstalk?"
Hello guys

Stuck here to install this package on an Elastic Beansstalk server instance. Always says permission denied. Any clues?

[code]

[2019-03-11 17:23] kribblo commented on #25
Hey, perhaps this could help? https://github.com/kribblo/node-ffmpeg-installer/issues/21#issuecomment-449763544

I've meant to add that tip to the README, but somehow forgot it.

[2019-03-11 17:24] #20 closed

[2019-03-21 22:13] binarykitchen commented on #25
ah thanks!

[2019-03-21 22:13] #25 closed

[2019-04-28 07:46] HaveAGitGat opened #26 ""Could not find ffmpeg executable" using 'app.asar.unpacked'"
I'm trying to run this once packaged on Windows (electron packager). The folder containing ffmpeg.exe successfully unpacks. I then use:

`const ffmpegPath = require('@ffmpeg-installer/ffmpeg').path.replace('app.asar', 'app.asar.unpacked');`

but I get the error

`"Could not find ffmpeg executable"`

`tried ..,"resources\app.asar\node_modules\@ffmpeg-installer\win32-ia32\ffmpeg.exe"`

So it seems t

[2019-04-28 10:03] HaveAGitGat commented on #26
Interestingly, the above works fine on linux. I've used the following as a solution on windows:

`var ffmpegPath = (path.join(__dirname, '\\node_modules\\@ffmpeg-installer\\win32-x64\\ffmpeg.exe' )).replace('app.asar', 'app.asar.unpacked')`

[2019-04-28 14:50] kribblo commented on #26
Hmm. Yeah, the code is trying to verify that the file exists, actually only because of a requested fallback to NPM 2 by some user: https://github.com/kribblo/node-ffmpeg-installer/blob/master/index.js

Not sure why it would work on one platform and not the other though, seems, as you put it, interesting. :) Maybe the easiest way to fix it for everyone is to also check for the electron paths, seems

[2019-05-10 13:56] tomgallagher opened #27 "Usage on AWS Lambda"
This looks like a really handy library.

I was wondering how the binary install works.

Does the binary get fetched each time the lambda runs?

If so, isn't the lambda function going to be quite expensive in time resources if ffmpeg has to be installed each time the lambda runs?

Do you happen to know how long the process takes on average?

Thanks

[2019-05-10 22:20] kribblo commented on #27
Hello, the binary is installed when you run "`npm install`", which is usually only done on first run, or "`npm update`" when you want to update dependencies. I'm not too familiar with Lambda, but once it's installed, it should just be there, unless everything is installed every time? Otherwise, it's usually pretty fast, since there is no compiling etc.

Again, don't really know how Lambda does thi

[2019-05-11 08:33] tomgallagher commented on #27
Hi - Thanks for getting back. I'm not sure either. I've just read that everything is uploaded when you create the Lambda function so it should be OK. It's hard to get a definitive answer but it seems the all the NPM packages are pre-installed.

[2019-05-11 09:02] kribblo commented on #27
If you try it out, please let me know the results, would be nice to have it documented.

[2019-05-11 09:11] tomgallagher commented on #27
Will do. I'll post what I discover here.

[2019-05-12 08:26] tomgallagher commented on #27
OK, so the first problem I can foresee is the binary location. If the file is installed into the node_modules directory, it's probably going to work, Otherwise I would have to install the binary into a location that is accessible from Lambda, like an S3 bucket and then refer to that somehow.

[2019-05-12 09:14] kribblo commented on #27
It is, and you should be able to get a working path to it from the library. However, it should be mentioned that if you are running on one OS only it might also be a better idea to simply download a binary (see README) and put it in the project manually. It depends on your needs.

The probably biggest motivations for this project is a) getting updates and b) being able to run the same code/project

[2019-05-12 09:44] tomgallagher commented on #27
OK that's good news. If it's in the node_modules directory then Lambda should be able to find the binary no problem. Once again, I'll get back if and when I've got it working.

[2019-05-14 13:48] tomgallagher commented on #27
OK.  I'm here to report that your package works as expected on AWS Lambda, at least when testing locally. Optimizing FFmpeg on Lambda a whole different problem! Probably worth a blog post by someone somewhere...

But thanks!

[2019-05-14 13:48] #27 closed

[2019-05-14 14:29] jaman99 opened #28 "node ffmpeg installer not working on Lambda"
Node ffmpeg installer not working on Lambda please help me :-)

[2019-05-29 13:19] SavageCore commented on #28
See this: https://github.com/kribblo/node-ffmpeg-installer#aws-andor-elastic-beanstalk

[2019-06-10 22:30] Luisangonzalez commented on #22
Hello, I created pull request ;)
https://github.com/kribblo/node-ffmpeg-installer/pull/29

[2019-06-11 12:59] kribblo commented on #22
Hello, I've merged and published, it took a while because npmjs decided to be a #¤%& about the email I already verified. I haven't tested it yet, but should be at version 1.0.18. See if it works for you. :)

[2019-06-11 22:48] Luisangonzalez commented on #22
Hello,

Thanks;)

Yes, works perfect.

Tested in Raspberry Pi 3 Model B Plus Rev 1.3 on Raspbian Stretch .

[2019-06-12 04:38] kribblo commented on #22
Great, closing this then. Thanks!

[2019-06-12 04:38] #22 closed

[2019-06-12 04:39] kribblo commented on #22
Ah, one more thing: could you provide the sources as with the others for the README?

[2019-06-13 08:38] Ivorfason opened #30 "how to install ia32 package on x64 device?"
on Windows

[2019-06-13 08:38] Ivorfason opened #31 "how to install ia32 package on x64 device?"
the issue on Windows

[2019-06-13 10:16] kribblo commented on #30
duplicate of #31

[2019-06-13 10:16] #30 closed

[2019-06-13 10:18] kribblo commented on #31
Hello, I'm not sure if you can. The package is using the internal npm properties of cpu, os etc and they are determined by the node.js version you are using. It might be possible that it could work if you install using a ia32 node.js version, but otherwise this is all controlled by the npm system.

[2019-06-13 10:19] kribblo commented on #31
It's all meant to "just work" on multiple systems, not to do cross-platform stuff on the same machine.

[2019-06-13 10:37] Ivorfason commented on #31
It works !!! Thank you very much

[2019-06-13 10:40] #31 closed

[2019-06-13 10:51] kribblo commented on #28
@jaman99  did this help?

[2019-06-17 19:01] Luisangonzalez commented on #22
Yes, the same, https://johnvansickle.com/ffmpeg/

arm: https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-armhf-static.tar.xz
arm64: https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-arm64-static.tar.xz

[2019-07-01 14:43] sebakerckhof opened #32 "Does not work as sub dependency"
If I have the following dependencies:
`project A -> project B -> ffmpeg-installer`,

Then it I get the following error:
`Uncaught Could not find ffmpeg executable, tried "/home/seba/dev/project-a/node_modules/project-b/node_modules/@ffmpeg-installer/linux-x64/ffmpeg" and "/home/seba/dev/project-a/node_modules/project-b/node_modules/@ffmpeg-installer/ffmpeg/node_modules/@ffmpeg-installer/linux-x64/

[2019-07-02 12:11] nic519 opened #34 "Just support current platform ?"
I am using node to install node-ffmpeg-installer in mac environment. I only installed a Darwin version of ffmpeg. How can I download Darwin and Windows version of ffmpeg at the same time? Because my electron software needs to support two systems at the same time.

[2019-07-02 12:12] nic519 commented on #34
<img width="500" alt="WeChatde1eb3044d8ea756dd56375c56a2c938" src="https://user-images.githubusercontent.com/2610741/60511893-aa5b0580-9d05-11e9-93ed-a09bd73a9a7c.png">

[2019-07-02 14:54] #32 closed

[2019-07-02 14:59] kribblo commented on #32
Pushed 1.0.19, please let me know if this works for you

[2019-07-02 15:08] kribblo commented on #34
The purpose of this package is the exact opposite I'm afraid, to only install ffmpeg for the current OS (actually, for whatever node you are currently running).

There is another, older NPM project (sorry don't remember the name) that installs ffmpeg for all OS's, maybe you can find that if you search. Otherwise, the only way I know is to run npm install using each OS's node version. If you can ru

[2019-07-02 22:11] mayeaux opened #35 "Way to suppress NPM warn logs on postinstall"
While installing the module I get these logs, such as :

[code]

It's kind of ugly to spit out on an install, is there anyway I can suppress these warn logs specifically for this module?

[2019-07-03 02:20] kribblo commented on #35
No, sorry, that's how the module avoids installing all binaries for all platforms: https://github.com/kribblo/node-ffmpeg-installer#warnings-during-install

[2019-07-03 02:20] #35 closed

[2019-07-03 16:57] mayeaux commented on #35
No problem, thanks it's a very useful module

[2019-07-07 23:16] whyboris commented on #26
I'm on version `"@ffmpeg-installer/ffmpeg": "1.0.18",`

I'm using the same command:
`const ffmpegPath = require('@ffmpeg-installer/ffmpeg').path.replace('app.asar', 'app.asar.unpacked');`

It seems to work with my Electron:
https://github.com/whyboris/Video-Hub-App/blob/master/main-extract.ts#L26

🤷‍♂

[2019-07-17 08:28] PJCHENder commented on #28
I need to add

[code]

and it seems to be work. Find the solution at [Generate a video preview with FFMPEG on a node serverless Lambda (AWS)](https://medium.com/@identiqdev/generate-a-video-preview-with-ffmpeg-on-a-node-serverless-lambda-aws-1d0de834965c)

[2019-08-06 21:05] whyboris opened #36 "FFmpeg 4.2 upgrade"
No rush, just FYI: `4.2` has been released:

http://ffmpeg.org/index.html#pr4.2

[2019-09-11 13:29] aquark opened #37 "@ffmpeg-installer/linux-arm64 requires platform arm, not arm64"
When I `npm install @ffmpeg-installer/ffmpeg`  on an `arm64` platform, none of the binaries are installed. The problem is that it requires os `arm` instead of `arm64`.  Pull request incoming.

[2019-09-12 02:49] #37 closed

[2019-09-12 02:57] kribblo commented on #37
Published, but have no access to an arm64 platform so please test.

[2019-09-12 02:57] #34 closed

[2019-09-12 02:58] #28 closed

[2019-09-12 03:43] aquark commented on #37
Yep, tested using my fork and it works for me

[2019-11-06 17:03] johnlop opened #39 "Using Webpack"
Hi,
I'm adding Webpack to my NodeJS project but having issues with ffmpeg-installer. The build process works but when running the app I get the following error:

Not sure what to do to fix this but anyway I'm curious if anyone else has used Webpack with this package.

Info:
- Node 10.15.0
- NPM 6.10.3
- Webpack 4.41.2
- ffmpeg-installer 1.0.20
- Windows 10 64b

Thanks.

[2019-11-07 11:28] kribblo commented on #39
I've only ever used browserify, so not sure about this. If you look in your node_modules directory, is the file available there?

[2019-11-07 20:39] johnlop commented on #39
Yeah the file is there and the other modules seem ok.

[2019-11-22 22:53] calebmbakwe opened #40 "Error on Alpine linux 3.8"
I use this on multiple Linux distros and it works (like a charm) on all except Alpine Linux 3.8 (launched in a docker container).

I get the error:
`Failed to resolve hostname s3.amazonaws.com: Name or service not known`

I installed ffmpeg in the container directly using the alpine linux package manager (apk) (`apk add ffmpeg`) and I see that the version installed is different from this (which is

[2019-11-22 22:55] #40 closed

[2019-12-03 10:50] dbweb-ch opened #41 "segmentation fault"
On rasperrypi 4 I get "segmentation fault" trying to use ffmpeg installed with the installer. I also tried to call it directly in node_modules/@ffmpeg-installer/linux-arm/ffmpeg and it gives me directly the message "segmentation fault".

[2019-12-04 10:21] dbweb-ch commented on #41
The binarys from https://www.johnvansickle.com/ffmpeg/ don't run on raspberry.
It would be great to add Support for Raspberry by using the right binarys.
The right binarys can be found here:
https://github.com/bushev/rpi-ffmpeg
Or extracted from http://raspbian.raspberrypi.org/raspbian/pool/main/f/ffmpeg/ffmpeg_4.1.4-1~deb10u1_armhf.deb in folder usr/bin/ffmpeg

Difficulty is to detect when to use

[2019-12-07 07:52] wangcheng007 commented on #39
hi,I met the same problem. Have you solved it？

[2019-12-10 08:37] kribblo commented on #41
Sad to say, I have absolutely no idea if it can be detected, doesn't seem line it from the docs, if it's linux and arm, how can you tell the difference? Unless the other binaries you speak of work on other arms and I just have a bad version (it was a pull request, didn't add that myself). I have no arm devices at all myself, so can't check either way. But look in closed issues for ARM.

Another po

[2019-12-10 11:09] dbweb-ch commented on #41
Problem is I would have to fork about 3 projects to get that to the one I wanted. I don't have another arm device than a couple of raspberrys, so I won't be able to test the binarys which are working on raspberry on other arm devices.
But for my project @Jey-Cee pointed me to his implementation which can be found here:
https://github.com/Jey-Cee/iobroker.onvif/blob/c8c75b12feca571f372f8fa0fb76fffa

[2020-02-08 10:32] mihaivarga opened #43 "How do you recommend adding additional platforms like Linux even though working from Win or Mac?"
I am developing on Windows, AWS lambda function for video processing. The thing is when deploying to lambda only the installed platform with for the current developer will be uploaded. How can I specify a certain platform that needs to be always present there? ex. Linux 64 in case of AWS lambda

The thing is I have colleagues that work on Mac and when they will install and deploy a new version of

[2020-02-08 11:52] kribblo commented on #43
Not sure if there is an easy solution, the whole point of the project is to install a binary for the current platform, so if you are building images on one platform to then run on another it will not work. And it's not using any options or anything, rather using the environment to pull in the correct dependency.

There's a similar, older project (don't recall the name) that inspired this project,

[2020-02-20 10:40] mpuz commented on #39
Same problem -
```Error: Cannot find module 'C:\Users\user\Documents\PROJECTS\....\node_modules\@ffmpeg-installer\win32-x64\package.json'```

[2020-05-03 19:28] danielroehrig opened #44 "Fontconfig error when using drawtext filter"
When trying to add text to a video on Linux-64 (Ubuntu 19.10), this error appears:

`ffmpeg stderr: Fontconfig warning: line 5: unknown element "its:rules"`

The text is still written, but it takes about a minute per second of video material.

When replacing the ffmpeg binary with a newer one (git master: built on 20200324) from https://www.johnvansickle.com/ffmpeg/ the error disappears and the vi

[2020-05-11 14:45] blogwy commented on #43
I suggest you not do that.

[2020-05-19 16:05] Fearycxy commented on #39
Same problem:
Cannot find module '....../node_modules/@ffmpeg-installer/darwin-x64/package.json'
in vue project and I tried yard remove and reinstall, doesn't work.

[2020-06-25 23:46] yutongs-dmai commented on #43
I encountered same problem. Using a mac and trying to deploy a lambda function. It would nice if you can implement some installation flags like
`npm install --arch=x64 --platform=linux @ffmpeg-installer/ffmpeg`.

That way we can specify the actually binary we want to install.

@kribblo

[2020-08-11 13:27] hmontazeri opened #46 "NPM multi OS compatibilty issue"
Dear community,

is there a way to install the linux64 binary via NPM if deploying / packaging an application on OSX.

Let me explain. I'm packaging a serverless node application for AWS Lambda and while packaging my application on OSX it uses the Darwin folder binary which works fine on OSX but the packaged application is getting deployed on a Linux env. Which makes the app fail.

Tried multiple

[2020-08-11 13:29] hmontazeri commented on #46
BTW tried `npm install @ffmpeg-installer/linux-x64 --force` doesn't work as NPM keeps crashing.

[2020-08-12 08:25] hmontazeri commented on #46
I found a workaround using docker to deploy via serverless framework just in case anyone finds this:

[code]

[2020-08-12 08:25] #46 closed

[2020-08-19 01:53] mayeaux opened #47 "Error: certificate has expired"
Am I crazy or am I getting a cert error when I try and download this module via NPM?

[2020-08-19 01:56] #47 closed

[2020-08-19 01:56] mayeaux commented on #47
Was looking in the wrong place my bad!

[2020-09-09 21:09] pereslavtsev commented on #39
@johnlop with nodejs you can try to use something like this:
[code]
but it can works if you use a `webpack-node-externals` - I don't know how to solve the issue without that

[2020-09-26 08:17] chenweijianGZ commented on #39
Same problem ~~~

[2020-12-02 18:52] isaacpearl commented on #43
@kribblo I was struggling with this problem for a while, and just opened a PR adding my simple workaround to the README. Please let me know if I can add any more contextual information!

[2021-01-07 18:58] sindresorhus opened #50 "Apple Silicon build"
Would be nice useful if this package included an Apple Silicon build of FFMPEG.

https://stackoverflow.com/questions/65060304/ffmpeg-package-for-apple-silicon

[2021-02-05 19:21] flotwig commented on #50
There is a fork here with a signed `darwin-arm64` `ffmpeg` binary provided: https://github.com/cypress-io/node-ffmpeg-installer

[2021-03-02 21:05] muzam1l opened #51 "ERROR in ./node_modules/@ffmpeg-installer/ffmpeg/index.js"
Trying to use in electron results in this error, crashing renderer process.

Module not found: Error: Can't resolve 'C:\Users\up\to\project\node_modules\@ffmpeg-installer\ffmpeg\node_modules\@ffmpeg-installer\win32-x64\package.json' in 'C:\Users\up\to\project\node_modules\@ffmpeg-installer\ffmpeg'

Clearly this path has two 'node_module' parts in it and is poorly formed, any ideas

[2021-03-04 11:18] Avngarde commented on #39
@pereslavtsev Your solution worked for me. Using electron + webpack. Thanks!

[2021-03-14 05:25] deevus opened #53 "Remove binaries from git"
Unless I'm mistaken, the ffmpeg binaries need only be available at publish time, and don't need to be ballooning the repository size.

For a solution I'm thinking something along the lines of:

1. Store a link to a specific build in configuration for each platform package
2. Have an associated script that will unzip/untar etc
3. Before publishing, download the binary to include in the package

Ano

[2021-03-14 05:26] deevus commented on #53
Related #48

[2021-03-14 14:18] #26 closed

[2021-03-26 09:15] raulrpearson commented on #50
@flotwig, could your fork PR those changes into this repo? [evermeet.cx won't support](https://evermeet.cx/ffmpeg/apple-silicon-arm) darwin-arm64 in the foreseeable future, so it would be nice to find an alternative.

I'm trying to understand the [changes introduced](https://github.com/cypress-io/node-ffmpeg-installer/commit/f0c1fd3d23a64aa2b04aa0282be513bf76228ce7) in your fork and it seems prett

[2021-03-26 17:13] flotwig commented on #50
@raulrpearson the binary comes from installing this branch: https://github.com/cypress-io/node-ffmpeg-installer/tree/darwin-arm64 which is an `optionalDependency` in the master package.json

[2021-03-26 17:47] raulrpearson commented on #50
Got you, @flotwig, thanks for clarifying. I didn't know dependencies could be specified [like that](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#github-urls).

[2021-04-04 00:43] deevus opened #55 "Deprecate in favor of ffmpeg-static?"
As part of becoming a contributor of this package I have looked around for alternatives to see whether it makes sense to continue maintenance of node-ffmpeg-installer. It seems as though https://github.com/eugeneware/ffmpeg-static fulfills the same purpose, already has the means to automatically keep the binaries updated, has more GitHub stars and is actively maintained.

It seems to me that this

[2021-04-04 00:43] deevus commented on #55
@kribblo Thoughts?

[2021-04-04 00:46] deevus commented on #55
@derhuerst FYI

[2021-04-04 04:09] kribblo commented on #55
Not so many; I have only had a glance at that project, but if it does the same job equally good or better... in principle, I do not think it makes sense to have duplicate efforts (unless competing for a "best" way).

This project was made with one purpose only, to download only *one* binary instead of all of them, which all other projects did. But it has its flaws for weirder cases and for updatin

[2021-04-04 12:52] derhuerst commented on #55
Hey, maintainer of `ffmpeg-static` here.

I agree that it makes sense to "merge" the two projects, everything is just wasted effort. I also don't care about which way we do it.

Yeah, same for `ffmpeg-static`, it is "just" intended to download a binary.

"Just" downloading a binary is more work than I originally thought, however; Over time, I have

- changed the setup to [re-upload `ffmpeg` binari

[2021-04-04 13:54] kribblo commented on #55
I took a much more simplistic approach, using the built in os and architecture features of node + sub-project dependencies, then I've been downloading binaries from sources listed on the official page and put them in each project and then they just ended up on npmjs.

It's been working well for at least the initial 5 variations, just a little bit of a chore to update now and then, the upload is se

[2021-04-04 13:58] kribblo commented on #55
Also, not totally convinced a cross-compile pipeline is worth the effort to maintain, I guess there's a reason that doesn't already exist out there. Not that I'd stop anyone, but that can be hard work. As long as there are sources trusted by the project i think you should consider leaving it at that, but it's just advice, based on well, knowing how much effort those things can take to keep up :)

[2021-04-04 18:13] derhuerst commented on #55
Yeah I solved it the same way first, but I didn't like several factors:

- Checking large binaries into Git, I had trouble with the maximum repository size of GitHub.
- Adding all binaries into one npm package is a waste of bandwidth, storage, etc.
- Using one sub-package per OS/arch felt like a weird hack.

[2021-04-04 21:39] kribblo commented on #55
Matter of taste, I guess.

- I have a paid account, maybe that's why repo size was no problem, didn't know it could be an issue.
- It's not one npm package, that's the whole point, and worrying too much about bandwidth or storage is 10-15 years ago, mostly.
- To be fair, it's the opposite of a hack. It's a built in feature since forever, meant to do stuff like this, but seems few know about it.

W

[2021-07-05 07:22] Romick2005 opened #59 "Unsupported platform/architecture: darwin-arm64"
Is there any solution for M1 silicon apple chip?

[2021-07-05 11:11] tolumide-ng commented on #59
@kribblo

[2021-07-05 11:13] tolumide-ng commented on #59
Hello, @kribblo I hope you're having a great day. Any suggestions on how to get around this?

[2021-07-05 11:52] deevus commented on #59
Find a build and make a PR, will happily accept it.

[2021-07-06 00:31] tolumide-ng commented on #59
@deevus could you please help review this? https://github.com/kribblo/node-ffmpeg-installer/pull/60

[2021-09-08 08:08] tulies commented on #39
Same problem ...

[2021-10-31 19:12] Bananamilk452 commented on #39
i used this solution because some dependencies are using es6 export. (i'm using vue with electron-builder. not sure it works with plain webpack)
simillar with answer on above;

[code]

[code]

[2021-11-19 08:25] yunxiaopw commented on #39
Hello, have you solved this problem? How to solve it?

[2021-12-15 04:40] MetaiR commented on #26
I had the same problem with my electron which is built by electronforge, I manage to make it work by use this config for my asar in the package.json
"asar": { "unpack": "*.{node,dll,exe}" }

hope it helps those in need

[2022-04-07 17:33] totoblabla3 opened #64 "stream ends after loading one segment"
On a mac, everything works perfectly, the stream is converted. But the same code on ubuntu loads only one segment of the stream and finishes the job. No errors occur. Tried different combinations of options. Again, everything works on a mac, but not on ubuntu

[2022-04-07 18:51] totoblabla3 commented on #64
rtsp -> hls

[2022-04-13 10:11] MsBaiYi commented on #59
npm install ffmpeg-static

[2022-04-13 16:14] LoveSlience opened #65 "how install @ffmpeg-installer/ffmpeg totally"
when i use npm i @ffmpeg-installer/darwin-x64 --force. then  use  npm i  @ffmpeg-installer/ffmpeg ,It always only install darwin-arm64  but i want reinstall all the ffmpeg banary, please help me

[2022-04-13 16:30] LoveSlience commented on #65
i have try `npm cache clean --force.    rm -rf node_modules.   npm i @ffmpeg-installer/ffmpeg -S`  but it still don't work

[2022-04-14 08:50] LoveSlience commented on #65
i solve it.use `npm install --force`

[2022-04-14 08:50] #65 closed, assigned to nobody

[2022-06-13 15:22] rynop opened #66 "macOS arm64 (darwin-arm64 for M1 and M2) missing --enable-libwebp"
`arm64` arch on macOS is missing `--enable-libwebp`

[code]

Using `@ffmpeg-installer` on macOS intel has it:

[code]

Same for windows (win32-x64):

[code]

And to fully close the circle, `ffmpeg` installed via `brew` has it as well:

[code]

Please add to `darwin-arm64`

[2022-08-01 11:43] TimDev9492 commented on #51
Bump

[2022-10-24 11:38] IlliaHryshkevych opened #67 "Cannot install package for linux-64 while using Windows"
Steps to reproduce:

1. Use Windows
2. Try to Install package using: npm install @ffmpeg-installer/linux-x64 --force

Result:
The following error occurred:
[code]

[2022-10-24 22:46] deevus commented on #67
Try https://github.com/ffbinaries/ffbinaries-node and see if that works for you